div{float: left;
    background-color: #f6f6f5;
    width: 22%;
    border: rgb(248, 246, 243) 2px solid;
    height: 680px;
    margin-right: 22px;
    margin-left: 15px;
    padding:2px;

}
div img{
    height:60%;
    width: 100%
}
div p{  
    line-height: 28px;
    padding-top: 1px;
    padding-left: 10px;
}
div h4{
    font-size: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 25px;
}



div h3{
    color:#d96630;
    font-size: 28px;
    padding-top: 1px;
    padding-bottom :1px;
    padding-left: 10px;
}

body{
    background-color: #444;
}