.div{position: relative;
    left: 300px;
    width: 935px;
    height: 700px;
    background-color: blueviolet;

}
.div1{position: absolute;
    height: 100px;
    width: 100px;
    background-color: blue;

}