re regular expr ..pattern matching

x='[abc]' either a b or c
x='[^abc]' except abc
x='[a-z]' a to z
x='[A-Z]' A to Z
x='[a-zA-Z]' both lower and upper cases are checked
x='[0-9]'  check digits
x=='[^a-zA-Z0-9]'  special symbols
x='\s' check space
x='\d' check digits
x='\D' except digits
x='\w' all letters and digits except special characters
x='\W' for special characters